<br/>
<h2>Search for images by keyword</h2>
<p>
  <%= form_tag(id: "image_search") do %>
      <%= label_tag(:search_term, "Search for:") %>
      <%= text_field_tag(:search_term) %>
      <%= submit_tag("Search") %>
  <% end %>
</p>
<p>
  <% if @search_term and not @image_results %>
      No matching images found for <%= @search_term %> <br>
      If search result is always empty, it's possible that search is disabled for the configured
      registry.
  <% elsif @image_results %>
      <%= "Num of results: #{@num_results}" %><br/><br/>
      <%= @image_results %>
  <% end %>
</p>
<br/>
<h2>Look up images by path</h2>
<p>
  The image path should be in the form of "namespace/image"
  <%= form_tag(id: "list_tags") do %>
      <%= label_tag(:image_path, "Image Path:") %>
      <%= text_field_tag(:image_path) %>
      <%= submit_tag("List Tags") %>
  <% end %>
  <% unless @image_list_error_message.nil? %>
      <br/><%= "Error: #{@image_list_error_message}" %><br/>
  <% end %>
</p>
