<h1>DockerImage: <%= @image_name %> </h1>
<%= link_to("home", "/") %>
<% if @image_info %>
  <p>Parent Image: <%= link_to(@image_info["parent"], "/images/#{@image_info["parent"]}") %></p>
  <p><pre><%= pretty_json(@image_info) %></pre></p>
<% else %>
  <p>Image not found for ID: <%= @image_id %></p>
<% end %>
